{% extends 'core/base.html' %}

{% block title %} {{ page_title }} {%endblock title%}

{% block container-fluid %}
<div class="container-fluid mb-4">
    <div class="row">
        <div class="col-sm-12 px-0">
        <img src="https://picsum.photos/id/41/1200/450" alt="" class="w-100">
        </div>
    </div>
    {% include 'page/component/hero_component.html' with hero_title=page_title %}
 
</div>
{% endblock container-fluid %}

{% block container %}

<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <h2>Vizyonumuz</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quam, excepturi debitis amet quisquam esse necessitatibus deserunt temporibus ad illo velit aut neque, veniam perferendis at aspernatur corporis modi tempore.</p>
        <p>Voluptates sint cupiditate quisquam corrupti consequatur illum, ad aspernatur reprehenderit labore odit cumque sit ratione voluptatibus distinctio cum, adipisci neque beatae quam maxime sequi at placeat. Quod aliquam voluptatem eos!</p>
        <p>Odio debitis facilis deserunt dolorum? Debitis blanditiis sequi quod est dolor voluptatum quos vero ratione laboriosam nam adipisci corrupti, excepturi, temporibus ducimus eaque facere tenetur quis fugiat enim ipsum animi.</p>
    <hr>
    <h2>Misyonumuz</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis cupiditate officia a, sed rem natus odit ex, laboriosam asperiores omnis aliquam vitae consequuntur facere, fugiat soluta voluptas culpa deleniti quia.</p>
    <p>Unde id dignissimos similique, in quia ab incidunt officiis quidem deserunt numquam amet at, architecto eveniet nemo autem ipsa. Sint suscipit explicabo eius provident, eum nam! Laborum provident optio consequatur.</p>
    <p>Quos eum dolores nesciunt asperiores soluta quasi recusandae quisquam ad reiciendis quam commodi velit officiis omnis doloremque atque voluptatibus laborum, provident, ex, qui corrupti dignissimos cupiditate incidunt? Magnam, accusamus molestiae?</p>
    <p>Ipsa excepturi nisi soluta sed? Illo expedita eligendi fuga fugit pariatur, facilis aspernatur ipsam debitis, ut cum nobis. Dolorem magni nulla voluptatum? Saepe corporis neque, laborum totam reiciendis sequi hic.</p>
    <ul>
        <li>Lorem, ipsum.</li>
        <li>Ipsum, soluta?</li>
        <li>Quidem, hic.</li>
        <li>Doloribus, accusantium.</li>
    </ul>
    </div>
</div>



{% endblock container %}